.container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aquamarine;
    border-color: black;
    /* grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end]; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr) ;
    grid-template-areas: "header header header header"  " main main. sidebar" "footer footer footer footer";
    column-gap: 10px;
    justify-items: center;
    align-items: center;
}
.item{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 2px solid black;
    text-align: center;
    align-content: center;

}
/* .item1{
    grid-area:header ;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
} */