p{
    color:red;
    background-color: burlywood;
    font-size: 30px;
    padding: 20px;
}
.jl{
    color:aqua
    
}
body{
    background-color: aquamarine;
}
#x{
    background-color: bisque;
    text-align: centers;
}
*{
    margin: 0;
    padding: 0;
}
div{
    height: 300px;
    width: 300px;
    background-color: rgb(30, 147, 147);
    border: 5px double black;
    padding: 10px;
    margin: 10px;
}